{
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "quotes": [1, "single", "avoid-escape"],
    "global-strict": [1, "always"],
    "no-extra-strict": 1,
    "no-new-func": 0,
    "camelcase": 0
  }
}
